
<h1> <%= hamburger.name %></h1>
<div class="container">
  <div class="row">

    <div class="col-6">
      <img src="<%= hamburger.image %>">
    </div>
    <div class="col-6">
      <p>restaurant: <%= hamburger.restaurant %></p>
      <p>tasting notes: <%= hamburger.tastingNotes %> </p>
      <p>ingredients: <%= hamburger.ingredients %> </p>
      <div>
      </div>
      <form method="POST" action="/hamburgers/<%= hamburger.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <a class="button is-primary" href="/hamburgers/<%= hamburger.id %>/edit">Edit</a>
        <button class="button is-danger">Delete</button>
      </form>
      <% if(locals.isAuthenticated && locals.currentUser.admin){ %>
        <% if(!hamburger.approved){ %>

      <form method="POST" action="/hamburgers/<%= hamburger.id %>">
        <input type="hidden" name="_method" value="PUT">
        <input type="hidden" name="approved" value="true">
        <div class="control">
          <button class="btn btn-primary">Approve</button>
        </div>
      </form>
      <% } else { %>
        <p class="btn btn-success">Approved</p>
      <% } %>
      <% } %>

    </div>
